/* On-wiki content layout classes. */

/* Hardware table */
@media ( min-width: 721px ) {
	.ubuntu-table-laptop {
		float: right;
		margin-left: 1em;
	}
}

/* Main Page columns */
@media screen and ( min-width: 721px ) {
	div.ubuntu-main-page-columns {
		column-count: 2;
	}

	div.ubuntu-main-page-columns > * {
		page-break-inside: avoid;
		display: inline-block;
		width: 100%;
	}
}
